.portfolio-wrapper{
   margin-bottom: 177px;
}
.aboutme-section{
    padding: 250px 0 0 0;
}
.about-wrapper{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
}

.about-detail h3{
    font-size: 60px;
    font-weight: 600;
    line-height: 108px;
    color: #FFFFFF;
    position: relative;
}
.about-detail h3::after{
    content: "";
    width: 345px;
    border: 1px solid #FF0513;
    position: absolute;
    bottom: 49px;
    right: 157px;
}
.about-detail .para-wrapper{
    max-width: 846px;
    max-height: 437px;
}
.about-detail .para-wrapper p{
    font-size: 24px;
    line-height: 55px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 85px;
}
.about-detail button{
    width: 301px;
    height: 96px;
    border-radius: 60px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
}
.about-detail button:hover {
background-color: #FF0513;
border: 2px solid #FF0513;
transition: 1s ease;
}

.about-wrapper figure{
  max-width: 885px;
    border: 74px solid #0E0C38
}
.about-wrapper figure img{
    width: 100%;
    object-fit:cover ;
  }

  .head-btn-wrapper{
display: flex;
justify-content: space-between;
align-items: center;
  }
  .head-btn-wrapper h4{
      position: relative;
      font-size: 50px;
      font-weight: 300;
      line-height: 76px;
      color: #ffffff;
  }
  .head-btn-wrapper h4::after{
    content: "";
    width: 345px;
    border: 1px solid #FF0513;
    position: absolute;
    bottom: 35px;
    right: -395px;
}
.btn-wrapper{
    width: 237.44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-wrapper button{
    width: 105px;
    height: 100px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    font-size: 45px;
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    font-weight: 100;
}
.btn-wrapper a :hover{
    border: 1px solid #FF0513;
    background-color: #FF0513; 
    transition: 1s ease;
}
.portfolio-wrapper nav{
    margin-bottom: 131px;
}
.portfolio-wrapper ul{
max-width: 540px;
display: flex;
width: 540px;
justify-content: space-between;
}
.portfolio-wrapper nav  li {
    font-size: 30px;
    font-weight: 300;
    line-height: 46px;
    color: #ffffff;
    cursor: pointer;
}
.portfolio-wrapper nav  li:hover{
    color:#FF0513;  
    transition: 1s ease;
}
.portfolio-wrapper .portfolio-content{
    flex-wrap: wrap;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    height: 1128px;
    transition: 2s ease;
}
.portfolio-content figure{
    max-width: 28%;
    max-height: 510px;
    margin-bottom: 90px;
    display: inline-block;
    transition: 1s ease;
    position: relative;
    overflow-y: hidden;
    border-radius: 40px;
    transition: 1s ease;
    
}
.portfolio-content figure:hover{
overflow-y: visible;
border-radius: 40px;
transform: scaleY(1.1);
transition: 1s ease;
}

.portfolio-content figure img{
    width: 100%;
    height: 510px;
    border-radius: 40px;
   object-fit: cover;
  transition: 1s ease;
   
}

.portfolio-content .img-hover{
    width: 100%;
    height: 510px;
       position: absolute;
    border-radius: 40px;
   z-index: -1;
   

}
.portfolio-content  .img-hover:hover{ 
    
      opacity: 0.5;
      background-color:  #FF0513;
      position: absolute;
   border-radius: 40px;
   opacity: 0.8;
   transform: scaleZ(1.1);
   height: 562px;
   transition: all 1s ease;
   z-index: 2;
 }
.img-hover h4{
  
    font-size: 44px;
    font-weight: 600;
    line-height: 44px;
    color: #ffffff;
    max-width: 271px;
    padding:360px 100px 0 0;
}
.img-hover h4 span{
    font-size: 25px;
    font-weight: 300;
    line-height: 55px;
    
 }