.hire-section{
    background-color: #040B33;
    padding: 250px 0 138px 0 ;

}
.hire-section h4{
    font-size: 60px;
    font-weight: 600;
    line-height: 79px;
    color: #ffffff;
    max-width: 668px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 33px;
    position: relative;
}
.hire-section h4::before{
    content: '';
    height: 182px;
    border: 1px solid red;
    position: absolute;
    top: -247px;
    left: 50%;
}
.hire-section p{
    font-size: 20px;
    font-weight: 300;
    line-height: 55px;
    color: #ffffff;
    max-width: 920px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 88px;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1238px;
}
form input,
form select,textarea{
    display: block;
    width: 594px;
    font-size: 25px;
    line-height: 38px;
    height: 89px;
    color: #707070;
    margin-bottom: 48px;
    padding-left: 25px;
}
form select{
    padding-right: 32px;
}
form textarea{
   margin-bottom: 0px;
   height: 205px;
   width: 1238px;
   padding-top: 36px;
   margin-bottom: 88px;
}
form button{
    margin:0 auto;
}