footer{
    background-color: #040221;
    padding-top: 95px;
   
}
footer h3{
    font-size: 93px;
    font-weight: 400;
    line-height: 127px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
}
footer h3::before{
    content: '';
    height: 83px;
    border: 1px solid red;
    position: absolute;
    top: -94px;
    left: 50%;
}
footer .contact-para{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 47px;
    color: #ffffff;
    margin-bottom: 60px;
}
footer .social-links{
    margin: 0 auto;
    margin-bottom:  80px;
}
footer .copy-rights{
    font-size: 20px;
    font-weight: 400;
   text-align: center;
    color: #ffffff;
    border-top: 1px solid #707070;
    padding: 53px 0 53px 0;
}