.social-links{
    display: flex;
    max-width: 354px;
    justify-content: space-between;
    align-items: center;
}
 .social-links li{
    max-width: 56px;
  
}
 .social-links li img{
    object-fit: cover;
    width: 100%;
   
   
}
 .social-links  li:hover{
    transform: scale(1.1); 
    transition: .5s ease;
    cursor: pointer;
}