/* font poppins*/
@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('./Fonts/Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-Black.woff2') format('woff2'),
        url('./Fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-Bold.woff2') format('woff2'),
        url('./Fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('./Fonts/Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('./Fonts/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('./Fonts/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('./Fonts/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('./Fonts/Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-Italic.woff2') format('woff2'),
        url('./Fonts/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-Light.woff2') format('woff2'),
        url('./Fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('./Fonts/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-Medium.woff2') format('woff2'),
        url('./Fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-MediumItalic.woff2') format('woff2'),
        url('./Fonts/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('./Fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-Regular.woff2') format('woff2'),
        url('./Fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-Thin.woff2') format('woff2'),
        url('./Fonts/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('./Fonts/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins-ThinItalic.woff2') format('woff2'),
        url('./Fonts/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/*global css */

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding:0;
}
body{
      margin:0;
      padding:0;
      background-color: #040221;
 font-family: "poppins";
  
   }

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
a,a:hover{
display: inline-block;
text-decoration: none;
}

ul,ol{
  list-style-type: none;
  padding:0;
  margin:0;
}
.app-container{
    max-width: 1920px;
    margin: 0 auto;
}
.container{
 max-width: 1750px;
  margin: 0 auto;

}

button{
    width: 279px;
    height: 96px;
    border-radius: 60px;
    font-weight: 400;
    font-size: 30px;
    font-family: "Raleway";
    line-height: 35px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
}
 button:hover{
    background-color: #FF0513;
    border: 1px solid  #FF0513;
    transition: 1s ease;
}